body{
    background-color: black;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    box-sizing: border-box;
}

#mössa-img {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tröja-img {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#svärd-img {
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);
}

#byxor-img {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#skor-img {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sköld-img {
    position: absolute;
    top: 35%;
    left: 65%;
    transform: translate(-50%, -50%);
}
