@use 'node_modules/bootstrap/scss/bootstrap' with (
$primary: rgb(87, 7, 179),
$info: rgb(228, 128, 15),
);

body {
    background: url(https://wallpapers.com/images/hd/viking-longship-nordic-sea-txnyyb2j0rz8x9ut.jpg) no-repeat;
}
  


